.background-container {
    background-image: url('/assets/11.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-center{
    margin-bottom: 100px;
    margin-left: 30%;
}
