<div class="bootstrap-wrapper background-container">
    <div class="container text-center">
        <!--<h1 class="text-right">WELCOME TO 
            My...<br>
            To-Do List Tracker Project
        </h1>-->
        <h1 class="text-right">Welcome to our Todo List</h1>
        <p>Organize your day, prioritize tasks,<br>
             and achieve more with our simple and effective todo list application.</p>
             <p>Start managing your tasks today. Click the button below to create your first todo list.</p>
        <a routerLink="/login" mat-raised-button color="accent">Create Todo List</a>
    </div>
    
</div>
